.page-not-found {
  height: 100vh;
}
.h-404 {
  font-size: 12rem;
  background-image: linear-gradient(to right, #eb4b4b, #e1a723e8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
