/* You can add global styles to this file, and also import other style files */
.star {
    color: red !important;
}
.ng-submitted .ng-invalid .ngx-dropdown-button {
    border-color: red !important;
}
.ng-submitted .requiredField.ng-invalid {
    border-color: red;
}
.dateError {
    position: relative;
}

.validationerror {
    position: absolute;
    right: 10px;
    font-size: 13px;
    color: red;
}
input[readonly] {
    background-color: #f7f7f7;
}
.pagination-next .ngx-pagination a, .pagination-next .ngx-pagination button {
    color: #ffffff !important;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
}
/* .table thead {
    vertical-align: bottom;
    background-color: #2c2e74;
} */
button.btn.btn-primary.custom-button-gentrate {
    margin-top: 54%;
}
i.bi.bi-trash3 {
    color: red;
}
.action-icons i {
    font-size: 17px;
    cursor: pointer;
}
i.bi.bi-pencil-square {
    color: #0d6efd;
}
.recordnotfound {
    font-size: 20px;
}
/* .table thead th {
    border: 1px solid #a71e1e;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;

} */
.header-nav .profile  .dropdown-item.d-flex.align-items-center {
    cursor: pointer;
}
select.form-select {
    color: #484848;
}
.table thead th{
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;
    color: #000000;
    padding: 8px;
    line-height: 1.42857143;
}
.table thead {
    vertical-align: bottom;
    background-color: #ffffff;
}
.table th{
    border-bottom: 2px solid #4a5cf2 !important;
}
span.online {
    color: #008000;
}
span.offline {
    color: red;
    padding-left: 2px;
}
.table tbody tr td {
    font-size: 14px;
}
.custom-width {
    width: 12%;
}
.ngx-pagination .current{
    background-color: #2c2e74 !important;
}
.pagination-previous,.pagination-next {
    background-color: #2c2e74;
    color: #ffffff !important;
}
.pagination-previous:hover a, .pagination-next:hover a {
    background-color: #5255bf !important;
}
.pagination-previous.disabled,.pagination-next.disabled{
    background-color: #5255bf !important;
}
.custom-icons i {
    font-size: 17px;
    cursor:pointer;
}
.custom-icons .bi.bi-lock-fill.active {
    color: green;
}
.custom-icons .fa-ban.active {
    color: red;
}
.form-label {
    margin-bottom: 0.5rem;
    font-size: 13px;
    font-weight: bold;
}
.table thead th {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 14px;
    color: #000000;
    padding: 8px;
    line-height: 1.42857143;
}

.table thead {
    vertical-align: bottom;
    background-color: #ffffff;
}
#dash-all-transactions th{
    border-bottom: 2px solid #4a5cf2;
}
.custom-width.py-4.mt-1.pe-0 {
    width: 12%;
}
.custom-icons .fa-check {
    color: green;
    font-size: 17px;
}

.custom-icons .fa.fa-times-circle {
    color: red;
    font-size: 17px;
}
.card-body.custom-boder {
    border-bottom: 1px solid #4154f1;
}
.custom-row .col-md-6 {
    width: 48%;
    float: left;
    margin-left: 5px;
}
h5.card-title {
    font-size: 15px;
}

.card-body label.form-check-label {
    font-size: 14px;
}
.card-body {
    flex: inherit !important;
}