<main id="main" class="main">
	<div class="pagetitle">
		<h1>Modem List</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a routerLink="/admin/dashboard">Admin</a>
				</li>
				<li class="breadcrumb-item">Modem</li>
			</ol>
		</nav>
	</div>
	<!-- End Page Title -->

	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body pt-1">
						<div class="row">
							<div class="col-md-6 text-left">
								<div
									class="spinner-border text-primary"
									role="status"
									*ngIf="isDisplayed"
								></div>
							</div>
							<div class="col-md-6 text-end"></div>
						</div>

						<div class="row py-4">
							<!-- <div class="custom-width py-4 mt-1 pe-0">
								<div class="dataTables_length">
									<label>Show
										<select [(ngModel)]="itemsPerPage" (change)="modem()">
											<option value="5">5</option>
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>
										entries</label>
								</div>
							</div>
							<div class="col-1 py-4" *ngIf="selectedOptions.length > 0">
								<button type="button" class="btn btn-danger" (click)="deleteObject()">
									Delete
								</button>
							</div>
							<div class="col-lg-2 py-4 text-start">
								<input type="text" [(ngModel)]="searchTerm" (keyup)="search(modemList)"
									placeholder="Search" class="form-control rounded" />
							</div> -->
							<!-- <div class="col-12 text-end mb-4">
								<button
							type="button"
							routerLink="/admin/modem/add"
							class="btn btn-primary"
						>
							Add Modem
						</button>
							</div> -->
							<app-modem-search
								[itemsPerPage]="itemsPerPage"
								[pageNumber]="pageNumber"
								(modemSearchData)="search($event)"
							></app-modem-search>
						</div>

						<!-- Table with stripped rows -->
						<table
							class="table table-striped table-bordered"
							id="dash-all-transactions"
						>
							<thead>
								<tr>
									<th>
										<input
											type="checkbox"
											class="form-check-input selectallcheckbox"
											[checked]="isSelectAllChecked"
											(click)="deleteAllList($event)"
										/>
									</th>
									<th>SL</th>
									<th>Type</th>
									<th>Device ID</th>
									<th>Device Info</th>
									<th>Phone</th>
									<th>Agent</th>
									<th>Status</th>
									<th
										*ngIf="
											userProfile?.userRoles[0] ==
												'SuperAdmin' ||
											userProfile?.userRoles[0] == 'Agent'
										"
									>
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<tr
									*ngFor="
										let item of displayedData
											| paginate
												: {
														itemsPerPage:
															itemsPerPage,
														currentPage: pageNumber,
														totalItems: totalRows
												  };
										let i = index
									"
								>
									<td>
										<input
											type="checkbox"
											class="form-check-input"
											[checked]="isChecked"
											(click)="
												checkBoxValue(item?.id, $event)
											"
										/>
									</td>
									<td>{{ i + 1 }}</td>
									<td>{{ item?.sim_type }}</td>
									<td [width]="100">{{ item?.device_id }}</td>
									<td [width]="400">
										{{ item?.device_info }}
									</td>
									<td>
										{{ item?.phone_number }}
									</td>
									<td>{{ item?.email }}</td>
									<td *ngIf="item?.is_active" [width]="100">
										<span
											[ngClass]="
												item?.suspended
													? 'offline'
													: 'online'
											"
										>
											{{
												item?.suspended
													? 'Suspended'
													: 'Activated'
											}}
										</span>
									</td>
									<td
										*ngIf="!item?.is_active"
										[width]="100"
									></td>
									<td
										*ngIf="
											userProfile?.userRoles[0] ==
												'SuperAdmin' ||
											userProfile?.userRoles[0] == 'Agent'
										"
									>
										<a
											class="btn btn-primary dropdown-toggle"
											href="#"
											role="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											Select Action
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown-item">
												<a
													(click)="
														loginSuspended(
															item.id,
															item.suspended
														)
													"
													*ngIf="item?.suspended"
													><span
														class="action-icons online"
														
														><i
															class="fa fa-check"
															aria-hidden="true"
															
														></i>
													</span>
													<span
														class="action-text online"
														
														>
															Account Activate
																
														</span 
													></a
												>
												<a
													(click)="
														loginSuspended(
															item.id,
															item.suspended
														)
													"
													*ngIf="!item?.suspended"
													><span
														class="action-icons offline"
														
														><i
															class="fa fa-ban"
															aria-hidden="true"
															
														></i>
													</span>
													<span
														class="action-text offline"
														
														>Account Suspend</span 
													></a
												>
											</li>
											<li *ngIf="
											userProfile.userRoles[0] ==
												'SuperAdmin'
										"><hr class="dropdown-divider" /></li>
											<li class="dropdown-item"  *ngIf="
											userProfile.userRoles[0] ==
												'SuperAdmin'
										">
												
												<a
												(click)="deleteModem(item.id)"
													>
													<span class="action-text"
														>
															<i class="bi bi-trash3" aria-hidden="true"
																title="Delete"></i>
															Delete Modem</span></a>
												
											</li>
										</ul>
									</td>
									<!-- <td>
										<a class="custom-icons" (click)="updateStatus(item?.id, 0)">
											<i class="bi bi-lock-fill me-2"
												[ngClass]="{'active': item?.modem_action == 0}"></i></a><a
											class="custom-icons" (click)="updateStatus(item?.id, 1)"><i
												class="fa fa-ban me-2" aria-hidden="true"
												[ngClass]="{'active': item?.modem_action == 1}"></i></a>
									</td> -->
								</tr>
							</tbody>
						</table>
						<div
							class="text-center recordnotfound"
							*ngIf="displayedData.length == 0"
						>
							Record not found
						</div>
						<!-- <app-pagination [allPagesNumber]="allPages" (changePage)="onPageChange($event)">
						</app-pagination> -->
						<div class="text-end pt-4">
							<pagination-controls
								(pageChange)="onPageChange($event)"
								*ngIf="displayedData.length != 0"
							></pagination-controls>
						</div>
						<!-- End Table with stripped rows -->
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
